.logo {
  display: inline-flex;
  align-items: center;

  img {
    height: 100%;
    width: auto;
  }
}

.light {
  display: block;
}

.dark {
  display: none;
}

:global(.dark) {
  .light {
    display: none;
  }

  .dark {
    display: block;
  }
}
